<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^get/([^/]+)/([^/]+)/([^/]+)(?:/(.*))?$ get.php?mps_version=$1&pack=$2&version=$3&file=$4 [QSA,L]

    RewriteRule ^1\.3\.0/home\.php$ 1.3.0/home.php [QSA,L]

    RewriteRule ^1\.3\.0/router\.php$ 1.3.0/router.php [QSA,L]
</IfModule>

<FilesMatch "^(config\.php|\.htaccess|.*\.log|tools\)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

Options -Indexes

<IfModule mod_php7.c>
    php_value upload_max_filesize 512M
    php_value post_max_size 512M
    php_value memory_limit 512M
</IfModule>
<IfModule mod_php.c>
    php_value upload_max_filesize 512M
    php_value post_max_size 512M
    php_value memory_limit 512M
</IfModule>
